<h1>Nesta área é possível ver, cadastrar, editar e exluir pets no sistema.</h1>
<div class="container">
    <button mat-raised-button (click)="openDialog()">Cadastrar Pet</button>
    <h2>Pets cadastrados:</h2>
    <div class="pets">
        @for (pet of pets; track pet.id){
            <div class="pet">
                <div class="icon">
                    <img [src]="getImage(pet.type)" alt="Foto do pet" />
                </div>
                <div class="description">
                    <p>Nome: {{ pet.name }}</p>
                    <p>Gênero: {{ pet.gender === "M" ? "Macho" : "Fêmea" }}</p>
                    <p>Reça: {{ pet.race }}</p>
                    <p>Idade: {{ getPetAge(pet) }}</p>
                    <p>Peso: {{ pet.weight }} Kg</p>
                    <p>Dono: {{ pet.owner }}</p>
                </div>
                <div class="actions">
                    <button (click)="editPet(pet)">Editar</button>
                    <button (click)="deletePet(pet)">Excluir</button>
                </div>
            </div>
        }
        @empty {
            <p>Nenhum pet cadastrado.</p>
        }


    </div>
</div>