<div class="start">
    <div class="text">
        <h1>Bem-vindo ao nosso aplicativo veterinário!</h1>
        <p>Aqui, você pode gerenciar facilmente o cadastro de seus pets,
            mantendo todas as informações importantes em um só lugar. Nosso sistema é intuitivo e fácil de usar,
            garantindo que você possa adicionar novos pets rapidamente e sem complicações.</p>
        <p>Além de cadastrar seus pets, nossa aplicação permite que você agende e gerencie diversos serviços
            veterinários. Seja uma consulta de rotina, uma cirurgia ou a aplicação de vacinas, você pode organizar tudo
            de forma prática e eficiente. Nosso objetivo é facilitar a vida dos donos de pets e garantir que seus
            animais recebam os melhores cuidados possíveis.</p>
        <p>Com nosso aplicativo, você também pode acompanhar o histórico de serviços realizados em cada pet, garantindo
            que todas as informações estejam sempre acessíveis. Dessa forma, você pode planejar melhor os cuidados
            futuros e manter a saúde dos seus animais sempre em dia. Experimente agora e veja como nossa aplicação pode
            ajudar você e seus pets!</p>
    </div>
    <div class="image">
        <img src="../../../assets/home.jpg" alt="home">
    </div>
</div>
<h1 id="pets" class="title">Atendemos os seguintes tipos de Pets</h1>
<div id="pets" class="boxes">
    <div id="pet" class="box">
        <img src="../../../assets/svg/dog.svg" alt="dog">
        <p>Cachorros</p>
    </div>
    <div id="pet" class="box">
        <img src="../../../assets/svg/cat.svg" alt="cat">
        <p>Gatos</p>
    </div>
    <div id="pet" class="box">
        <img src="../../../assets/svg/rabbit.svg" alt="rabbit">
        <p>Coelhos</p>
    </div>
    <div id="pet" class="box">
        <img src="../../../assets/svg/bird.svg" alt="bird">
        <p>Aves</p>
    </div>
    <div id="pet" class="box">
        <img src="../../../assets/svg/fish.svg" alt="fish">
        <p>Peixes</p>
    </div>
    <div id="pet" class="box">
        <img src="../../../assets/svg/reptile.svg" alt="reptile">
        <p>Répteis</p>
    </div>
</div>
<h1 class="title">Oferecemos os seguintes serviços</h1>
<div id="services" class="boxes">
    <div id="service" class="box">
        <img src="../../../assets/svg/consult.svg" alt="consult">
        <p>Consulta</p>
    </div>
    <div id="service" class="box">
        <img src="../../../assets/svg/surgery.svg" alt="surgery">
        <p>Cirurgia</p>
    </div>
    <div id="service" class="box">
        <img src="../../../assets/svg/vaccine.svg" alt="vaccine">
        <p>Vacina</p>
    </div>
    <div id="service" class="box">
        <img src="../../../assets/svg/bath.svg" alt="bath">
        <p>Banho</p>
    </div>
    <div id="service" class="box">
        <img src="../../../assets/svg/grooming.svg" alt="grooming">
        <p>Tosa</p>
    </div>
</div>