<h1>Nesta área é possível ver, registrar, editar e exluir serviços no sistema.</h1>
<div class="container">
    @if(hasPets){
        <button mat-raised-button (click)="addService()">Registrar Serviço</button>
    }@else{
        <p>Nenhum pet cadastrado no sistemas, portando não pode registar serviços.</p>
    }
    <app-search-service (filter)="filterService($event)"/>
    <h2>Serviços registrados:</h2>
    <div class="services">
        @defer (when services) {
        @for (service of services; track service.id){
            <div class="service">
                <div class="icon">
                    <img [src]="getImage(service.type)" alt="Foto do serviço" />
                </div>
                <div class="description">
                    <p>Dono do Pet: {{ service.petOwner }}</p>
                    <p>Nome do Pet: {{ service.petName }}</p>
                    <p>Data: {{ service.date | date:'dd/MM/yyyy' }}</p>
                    <p>Descrição:</p>
                    <p class="description-text">{{ service.description }}</p>
                </div>
                <div class="actions">
                    <button mat-raised-button (click)="editService(service)">Editar</button>
                    <button (click)="deleteService(service)">Excluir</button>
                </div>
            </div>
        }
        @empty {
            <p>Nenhum serviço registrado.</p>
        }
    }@placeholder() {
        <img src="../../../assets/gif/loading.gif" alt="Loading">
    }

    </div>
</div>